In [1]:
import pandas as pd
import os
from pandas import DataFrame as df

In [2]:
# import the two csv files needed
#STEP1 : Import the csv file containing the admin boundaries in level 2 and the production in ha per district
path = r"C:\Oluchi\Downscaling\Input_Data"
name_of_file = "statelevelcroparea.csv"
# Import csv as pandas dataframe
file= pd.read_csv(path + "\\" + name_of_file)
file.head(3)

        NAME       maize
0  Banikoara  605.834085
1  Banikoara  854.285747
2  Banikoara  619.796834

In [3]:
file=file.groupby('NAME').sum()

In [4]:

file.head(3)

                    maize
NAME
Abomey        7472.628755
Agbangnizoun  4984.914551
Allada         831.582957

In [6]:
path = r"C:\Oluchi\Downscaling\Input_Data"

file.to_csv(os.path.join(path,"{c}.csv".format(c="final")))