In [58]:
import pandas as pd
import os
from pandas import DataFrame as df

In [40]:
# import the two csv files needed
#STEP1 : Import the csv file containing the admin boundaries in level 2 and the production in ha per district
path = r"C:\Oluchi\Benin\SNV DATA"
name_of_file = "production_.csv"
# Import csv as pandas dataframe
production_file= pd.read_csv(path + "\\" + name_of_file)
production_file.head(3)

          NAME_2  production_tonnes
0        Abomey                3031
1  Abomey-calavi              12116
2     Adja-ouere              25045

In [41]:
#Step2: Import the csv file containing the harvested area in level 2 according to MAP SPAM. This is the test output from the 
#: #downscaling process
path = r"C:\Benin\agrodem_preprocessing\Downscaling\Output_Data\Crop_Maps_modified"
name_of_file = "Ben_Maize_test.csv"
# Import csv as pandas dataframe
input= pd.read_csv(path + "\\" + name_of_file)
input.head(3)

,Unnamed: 0,iso3,prod_level,alloc_key,cell5m,x,y,maiz_a,name_cntr,name_adm1,NAME_2,Admin_2_share,Area_Harv_2018
0,0,BEN,BN01004,9322194,4024113,2.791667,12.375000,144.5,Benin,Alibori,Karimama,0.000133,154.016582
1,1,BEN,BN01004,9322195,4024114,2.875000,12.375000,370.9,Benin,Alibori,Karimama,0.000341,395.326992
2,2,BEN,BN01004,9332194,4028433,2.791667,12.291667,92.5,Benin,Alibori,Karimama,0.000085,98.591930

In [42]:
# STEP3: Sum of Harvested area by admin level 2
new= input.groupby('NAME_2').sum()

In [43]:
new.columns

Index(['Unnamed: 0', 'alloc_key', 'cell5m', 'x', 'y', 'maiz_a',
       'Admin_2_share', 'Area_Harv_2018'],
      dtype='object')

In [44]:
new =new.drop(['Unnamed: 0', 'alloc_key', 'cell5m', 'x', 'y', 'maiz_a','Admin_2_share'],axis =1)

In [45]:
# STEP 5: merge new to original input_file
new['Harvest_Area_By_District']= new['Area_Harv_2018'] 
new =new.drop(['Area_Harv_2018'] ,axis = 1)

In [46]:
new_input = new.merge(input,on = 'NAME_2')

In [47]:
new_input.head(5)

,NAME_2,Harvest_Area_By_District,Unnamed: 0,iso3,prod_level,alloc_key,cell5m,x,y,maiz_a,name_cntr,name_adm1,Admin_2_share,Area_Harv_2018
0,Abomey,7472.628755,1032,BEN,BN12001,9942184,4291943,1.958333,7.208333,7010.9,Benin,Zou,0.006454,7472.628755
1,Abomey-calavi,9780.532597,1138,BEN,BN03001,10022188,4326507,2.291667,6.541667,3320.0,Benin,Atlantique,0.003056,3538.650882
2,Abomey-calavi,9780.532597,1139,BEN,BN03001,10022189,4326508,2.375000,6.541667,952.7,Benin,Atlantique,0.000877,1015.443583
3,Abomey-calavi,9780.532597,1148,BEN,BN03001,10032188,4330827,2.291667,6.458333,2513.3,Benin,Atlantique,0.002314,2678.822669
4,Abomey-calavi,9780.532597,1149,BEN,BN03001,10032189,4330828,2.375000,6.458333,1334.7,Benin,Atlantique,0.001229,1422.601606

In [49]:
new_input_final = new_input.merge(production_file,on = 'NAME_2')

In [50]:
new_input_final.head(-3)

,NAME_2,Harvest_Area_By_District,Unnamed: 0,iso3,prod_level,alloc_key,cell5m,x,y,maiz_a,name_cntr,name_adm1,Admin_2_share,Area_Harv_2018,production_tonnes
0,Abomey-calavi,9780.532597,1138,BEN,BN03001,10022188,4326507,2.291667,6.541667,3320.0,Benin,Atlantique,0.003056,3538.650882,12116
1,Abomey-calavi,9780.532597,1139,BEN,BN03001,10022189,4326508,2.375000,6.541667,952.7,Benin,Atlantique,0.000877,1015.443583,12116
2,Abomey-calavi,9780.532597,1148,BEN,BN03001,10032188,4330827,2.291667,6.458333,2513.3,Benin,Atlantique,0.002314,2678.822669,12116
3,Abomey-calavi,9780.532597,1149,BEN,BN03001,10032189,4330828,2.375000,6.458333,1334.7,Benin,Atlantique,0.001229,1422.601606,12116
4,Abomey-calavi,9780.532597,1159,BEN,BN03001,10042188,4335147,2.291667,6.375000,1055.5,Benin,Atlantique,0.000972,1125.013857,12116
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
768,Tori-bossito,8705.933856,1137,BEN,BN03007,10022187,4326506,2.208333,6.541667,3142.8,Benin,Atlantique,0.002893,3349.780720,5459
769,Tori-bossito,8705.933856,1147,BEN,BN03007,10032187,4330826,2.208333,6.458333,2525.6,Benin,Atlantique,0.002325,2691.932731,5459
770,Ze,17854.305658,1090,BEN,BN03008,9982189,4309228,2.375000,6.875000,2874.3,Benin,Atlantique,0.002646,3063.597659,29494
771,Ze,17854.305658,1103,BEN,BN03008,9992188,4313547,2.291667,6.791667,3037.8,Benin,Atlantique,0.002797,3237.865557,29494
772,Ze,17854.305658,1104,BEN,BN03008,9992189,4313548,2.375000,6.791667,2901.8,Benin,Atlantique,0.002671,3092.908774,29494

In [52]:
new_input_final['ratio_harvested_area_by_district']= new_input_final['Area_Harv_2018']/new_input_final['Harvest_Area_By_District']

In [53]:
new_input_final['prod_ha']=new_input_final['ratio_harvested_area_by_district']*new_input_final['production_tonnes']

In [54]:
new_input_final.head(-3)

,NAME_2,Harvest_Area_By_District,Unnamed: 0,iso3,prod_level,alloc_key,cell5m,x,y,maiz_a,name_cntr,name_adm1,Admin_2_share,Area_Harv_2018,production_tonnes,ratio_harvested_area_by_district,prod_ha
0,Abomey-calavi,9780.532597,1138,BEN,BN03001,10022188,4326507,2.291667,6.541667,3320.0,Benin,Atlantique,0.003056,3538.650882,12116,0.361806,4383.635928
1,Abomey-calavi,9780.532597,1139,BEN,BN03001,10022189,4326508,2.375000,6.541667,952.7,Benin,Atlantique,0.000877,1015.443583,12116,0.103823,1257.918659
2,Abomey-calavi,9780.532597,1148,BEN,BN03001,10032188,4330827,2.291667,6.458333,2513.3,Benin,Atlantique,0.002314,2678.822669,12116,0.273893,3318.491620
3,Abomey-calavi,9780.532597,1149,BEN,BN03001,10032189,4330828,2.375000,6.458333,1334.7,Benin,Atlantique,0.001229,1422.601606,12116,0.145452,1762.300865
4,Abomey-calavi,9780.532597,1159,BEN,BN03001,10042188,4335147,2.291667,6.375000,1055.5,Benin,Atlantique,0.000972,1125.013857,12116,0.115026,1393.652928
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
768,Tori-bossito,8705.933856,1137,BEN,BN03007,10022187,4326506,2.208333,6.541667,3142.8,Benin,Atlantique,0.002893,3349.780720,5459,0.384770,2100.458521
769,Tori-bossito,8705.933856,1147,BEN,BN03007,10032187,4330826,2.208333,6.458333,2525.6,Benin,Atlantique,0.002325,2691.932731,5459,0.309207,1687.959158
770,Ze,17854.305658,1090,BEN,BN03008,9982189,4309228,2.375000,6.875000,2874.3,Benin,Atlantique,0.002646,3063.597659,29494,0.171589,5060.838046
771,Ze,17854.305658,1103,BEN,BN03008,9992188,4313547,2.291667,6.791667,3037.8,Benin,Atlantique,0.002797,3237.865557,29494,0.181349,5348.715798
772,Ze,17854.305658,1104,BEN,BN03008,9992189,4313548,2.375000,6.791667,2901.8,Benin,Atlantique,0.002671,3092.908774,29494,0.173230,5109.257852

In [59]:
path = r"C:\Benin\agrodem_preprocessing\Downscaling\Output_Data\Crop_Maps_modified"

new_input_final.to_csv(os.path.join(path,"{c}.csv".format(c="Ben_Maize_final")))