# Short script converting .dat file to csv

The FLAT.gms file yields a .dat file with result on the downscaling process. This notebook converts .dat file to csv while adding an additional column with the new estimate for the crops harvested area. This is estimated by multiplying the ```Fraction``` column with output resolution in ha (1 sq.km ~ 100 ha). The new column is named ```cropname + Area``` (e.g. MaizeArea).

**Original code:** [Alexandros Korkovelos](https://github.com/akorkovelos) <br />
**Conceptualization & Methodological review :** [Alexandros Korkovelos](https://github.com/akorkovelos)<br />
**Updates, Modifications:** [Alexandros Korkovelos](https://github.com/akorkovelos)<br />
**Funding:** The World Bank (contract number: 7190531), [KTH](https://www.kth.se/en/itm/inst/energiteknik/forskning/desa/welcome-to-the-unit-of-energy-systems-analysis-kth-desa-1.197296)

In [2]:
# Import module and libraries

import pandas as pd
import os

In [3]:
# Import .dat file from directory

flatoutputdf = pd.read_csv(r'C:\Oluchi\Downscaling\Output_Data\FLAT_Input\finalresults.dat', sep='\s+')

In [4]:
# Get crop name
cropharvarea = flatoutputdf["Crop"][0] + "Area"

# Create a new column with new harvested area
flatoutputdf[cropharvarea] = flatoutputdf["Fraction"]*100

In [5]:
flatoutputdf.head()

   Pixel      State      lon       lat   Crop  Fraction   maizeArea
0      0  Banikoara  2.37500  11.62500  maize  8.498397  849.839701
1      1  Banikoara  2.45833  11.62500  maize  8.498397  849.839701
2      2  Banikoara  2.54167  11.62500  maize  8.498397  849.839701
3      3  Banikoara  2.29167  11.54167  maize  8.498397  849.839701
4      4  Banikoara  2.37500  11.54167  maize  8.498397  849.839701

In [6]:
flatoutputdf[cropharvarea].sum()

570199.234904

## Perhaps adding crossvalidation here?

### Export file as csv

In [7]:
# Define output path
path = r"C:\Oluchi\Downscaling\Output_Data\FLAT_Input\Downscaled"
csvname = cropharvarea[0:-4] + "_Ben_1km_downscaled.csv"

#drybeans
flatoutputdf.to_csv(os.path.join(path,"{c}".format(c=csvname)), index=False)